/*TODO fully duplicated with other projects*/

#generator {
  /* display: none; */
  background-color: rgb(236, 244, 244);
}

#zoomButtons {
  display: flex;
  justify-content: flex-end;
}

#graphContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* background: url("/img/grid.gif"); */
  background-color: white;
  cursor: default;
}

.row {
  height: auto;
  min-height: 90%;
}
